/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* COLORES */
body{
  background-color: #730e2e; /*burdeo*/
}

nav{
  background-color: #1f4e7d; /*azul*/
}

footer{
  background-color: #1f4e7d; /*azul*/
}

.estrella{
  color: #730e2e;
}

.estrella2{
  color: #1f4e7d;
}


 /* -----FONTS----- */
.great{
  font-family: 'Fredericka the Great', cursive;
 } 

 .cabin{
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
 }

 .rock{
  font-family: 'Rock Salt', cursive;
 }

 /* PORTADA */
 h1{
  margin-top: 20%;
  margin-left: 2%;
  color: #730e2e;
  font-weight: bold;
  
}

.burdeo{
  color: #730e2e;
  margin-bottom: -20%;
}

.web{
  margin-left: -26%;
}

.titulo{
  margin-top: -10%;
}

.poe{
  color: #730e2e;
  font-weight: bold;
}

.poe-2{
  margin-left: 3%;
}

.dibujo{
  margin-top: 15%;
}

.portada{
    height: 578px;
}

/* SECCIÓN PERFIL */
.descripcion{
  /*margin-top: 5%;*/
  font-size: 115%;
}

.galeria-proyectos{
  margin-right: 10%;
}
.proyectos{
  margin-top: 3%;
  margin-left: 20%;
}

.parrafo {
  line-height: 2rem;
  font-size: 120%;
}

.logo{
  margin-top: 20%;
}

.foto{
  margin-top: 7%;
}

.imagen {
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,10));
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,10));
}

/*----------------------------------*/

/*GALERIA DE FOTOS*/
.carrusel{
  margin-left: -12%;
}

.borde-carrusel{
  border: border: 8px solid #1f4e7d;
}

.click{
  font-weight: bold;
  width: 30%;
}

.white{
  background-color: #fff;
  font-weight: bold;
  width: 30%;
  padding: 3%;
}

.zoom{
  color: #000;
}

.texto-foto{
  margin-top: -3%;
}

/* ----- SECCIÓN HERRAMIENTAS ----- */
.h-fondo{
  background-color: rgba(240, 231, 174, 0.61);
  }


.h-abajo{
  padding-bottom: 2%;
}

.fondo-imagen1{
  background-color: #F0E7AE;
  border-radius: 100%;
  padding: 22%;
  border: 8px solid #1f4e7d;
  margin-bottom: 5%;
  
}

.fondo-imagen2{
  background-color: #F0E7AE;
  border-radius: 100%;
  padding: 15%;
  border: 8px solid #1f4e7d;
  margin-bottom: 5%;
  
}

.fondo-imagen3{
  background-color: #F0E7AE;
  border-radius: 100%;
  padding: 15%;
  border: 8px solid #1f4e7d;
  margin-bottom: 5%;
  
}

.html{
  width: 32%;
}
.css{
  width: 25%;
}
.js{
  width: 32%;
}
.jquery{
  width: 60%;
  margin-top: -20%;
  margin-left: 13%;
}
.sass{
  width: 50%;
  margin-top: -5%;
}
.bootstrap{
  width: 31%;
}
.materialize{
  width: 43%;
  margin-left: 10%;
  margin-top: -10%;
}
.wordpress{
  width: 45%;
  margin-left: 15%;
}
.github{
  width: 45%;
}






/*--------------------------------------------------------------------------------------------*/
nav ul a,
nav .brand-logo {
  color: #444;
}



.button-collapse {
  color: #26a69a;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.caja{
  margin-top: 3%;
}
.linkedin{
  width: 19%;
}

.github-2{
  width: 22%;
}
.twitter{
  width: 20%;
}

.year{
  color: #730e2e;
  font-weight: bold;
}
---------------------------------------
.monse-resp{
  margin-top: 50%;
}